<!-- start content -->
<div class="py-16 xl:py-36 px-4 sm:px-6 lg:px-8 bg-white overflow-hidden">
    <div class="max-w-max lg:max-w-7xl mx-auto">
        <div class="relative z-10 mb-8 md:mb-2 md:px-6">
            <div class="text-base max-w-prose lg:max-w-none">
                <h2 class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
                    Ehrenamtlich entwickelt – von der Björn Steiger Stiftung
                    finanziert.
                </h2>
            </div>
        </div>
        <div class="relative">
            <div class="relative md:bg-white md:p-6">
                <div class="lg:grid lg:grid-cols-2 lg:gap-6">
                    <div class="prose prose-indigo prose-lg text-gray-500 lg:max-w-none">
                        <p>
                            Mit impfterm.in (Arbeitstitel) schaffen wir eine
                            einheitliche, nicht kommerzielle
                            Impfterminplattform, die einfach und kurzfristig
                            individuell zugeschnittene Impftermine aus
                            verschiedenen Impfstellen vermittelt. Ein breites
                            Bündnis von Unterstützenden (u.a. Björn Steiger
                            Stiftung, infra.run) stellt Finanzen und Ressourcen
                            zur Verfügung.
                        </p>
                    </div>
                    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 lg:mt-0">
                        <p>
                            Die Plattform nutzt eine Anbindung an die vorhandene
                            Infrastruktur der Kassenärztlichen Vereinigungen
                            (Telematik) und an Impfzentren, um Impfangebote und
                            Impfwünsche anonym, offen und einheitlich zu
                            verbinden sowie Suchende aktiv auf verfügbare
                            Termine hinzuweisen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-16 xl:py-36 px-4 sm:px-6 lg:px-8 bg-gray overflow-hidden">
    <div class="max-w-max lg:max-w-7xl mx-auto">
        <div class="relative z-10 mb-8 md:mb-2 md:px-6">
            <div class="text-base max-w-prose lg:max-w-none">
                <h2 class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
                    Wie funktioniert es?
                </h2>
            </div>
        </div>
        <div class="relative">
            <div class="relative md:bg-white md:p-6">
                <div class="lg:grid lg:grid-cols-1 lg:gap-6">
                    <div class="prose prose-indigo prose-lg text-gray-500 lg:max-w-none">
                        <p>
                            Eine einfache und anonyme Lösung, angebunden an vorhandene Strukturen zur proaktiven Verteilung von Impfterminen (via Push-Prinzip). Passend zu den individuellen Bedürfnissen werden Termine aus einem möglichst großen Fundus geeigneter Impfmöglichkeiten in ärztlichen Praxen oder Impfzentren gespeist.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-16 bg-gray-50 overflow-hidden lg:py-24">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
        <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative">
                <dl class="space-y-10">
                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12">
                                <img src="/assets/media/icon_datenschutz.svg">
                            </div>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">Durch die einheitliche, einfache und gleichzeitig anonyme Zusammenführung der Impfwünsche mit passenden Impfmöglichkeiten ist eine wesentlich bessere Impfvermittlung möglich – ohne große Aufwände auf beiden Seiten.</dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12">
                                <img src="/assets/media/icon_cwa.svg">
                            </div>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">Mogliche Erweiterung der Corona-Warn-App (CWA): Die bereits enthaltenen Impf-Informationen und Immunhistorien werden nutzbar, um aktiv auf passende Impftermine hinzuweisen.</dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12">
                                <img src="/assets/media/icon_termine_einstellen.svg">
                            </div>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">Impfeinrichtungen stellen Termine mit bestimmten Eigenschaften ein. Nutzende bekommen dann nur wirklich passende Impftermine vorgeschlagen – stets gemäß aktueller und individueller Empfehlungen.</dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12">
                                <img src="/assets/media/icon_verteilung.svg">
                            </div>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">Optimierung der Ressourcenübersicht: Aus den verfügbaren Impfterminen ergibt sich eine präzise Lagebeschreibung der vorhandenen Kapazitäten sowie der aktuellen Nachfrage nach Terminen. Dies liefert wichtige Daten für die Logistik.</dd>
                    </div>
                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12">
                                <img src="/assets/media/icon_getestet.svg">
                            </div>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">Erfolgreich getestet und startklar: Der InÖG hat ein der avisierten Lösung zugrundeliegendes System mit Partnern im Mai–August 2021 im kleinen Rahmen erfolgreich evaluiert. Auf der Plattform waren etwa 1000 ärztliche Praxen vertreten und es wurden 1,2 Millionen Impfangebote vermittelt.</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="bg-white text-blue mx-auto max-w-7xl">
    <p class="bg-blue-500 p-10">
        Auch wenn das Projekt bereits einige Unterstützung sammeln konnte, ist
        ein entsprechendes Commitment der Stellen wichtig. Im
        aktuellen Projektstadium sind vor allem weitere Kontakte zu Verbänden und Vereinigungen, Datenschutzbehörden und
        Kommunikationsunterstützung hilfreich, aber auch Ressourcen für den
        Betrieb der Lösung.
    </p>
</div>
<div class="bg-blue-500 py-10 mx-auto max-w-7xl mt-16 px-4 sm:mt-24 sm:px-6 lg:mt-32">
    <div>Kontakt</div>
    <div>
        Möchten Sie die Plattform nutzen oder mehr darüber erfahren?<br />
        Melden Sie sich gerne direkt bei uns:
    </div>
    <ul>
        <li>
            <strong>E-Mail:</strong><br />
            impftermin@inoeg.de
        </li>
        <li>
            <strong>Download Präsentation</strong><br />
            impftermin@inoeg.de
        </li>
    </ul>
</div>
<!-- end content -->
