<footer class="mx-auto w-full flex-grow" aria-labelledby="footer-heading">
	<div class="bg-white py-10">
			<h2 id="footer-heading" class="sr-only">Footer</h2>
			<div class="mx-auto w-full  py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
				<div class="pb-8 justify-center xl:grid xl:grid-cols-5 xl:gap-8">
					<div class="grid xl:col-span-4 justify-center">
						<div class="md:grid md:grid-cols-3 md:gap-8">
							<div>
								<h3
									class="text-sm font-semibold text-gray-400 tracking-wider uppercase"
								>
									Initiert durch
								</h3>
								<ul role="list" class="mt-4 space-y-4">
									<li>
										<a
											href="#"
											class="text-base text-gray-500 hover:text-gray-900"
										>
											Marketing
										</a>
									</li>
								</ul>
							</div>
							<div class="mt-12 md:mt-0">
								<h3
									class="text-sm font-semibold text-gray-400 tracking-wider uppercase"
								>
									Gefördert durch
								</h3>
								<ul role="list" class="mt-4 space-y-4">
									<li>
										<a
											href="#"
											class="text-base text-gray-500 hover:text-gray-900"
										>
											Pricing
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="md:grid md:grid-cols-3 md:gap-8">
							<div>
								<h3
									class="text-sm font-semibold text-gray-400 tracking-wider uppercase"
								>
									Mit der Unterstützung von
								</h3>
								<ul role="list" class="mt-4 space-y-4">
									<li>
										<a
											href="#"
											class="text-base text-gray-500 hover:text-gray-900"
										>
											About
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div class="mt-12 pt-8 bg-gray">
		<p class="text-base p-10 text-gray-400 xl:text-center">
			<a href="#">Impressum</a>
		</p>
	</div>
</footer>
